.writecard {
  width: 150px;
  margin: 16px 4px;
}

.blogItemTitle {
    color: rgb(19, 22, 61);
    // text-overflow: ellipsis;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 4px;
    font-weight: bold;
    color: rgb(54, 54, 54);
    overflow: hidden;
    white-space: normal; 
    // height: 50px;
    // white-space: nowrap;
    // word-wrap: break-word;
    // display: block;
  }

  .blogItemDate {
    text-overflow: ellipsis;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 4px;
    font-size: 0.8em;
    color: rgb(54, 54, 54);
    // white-space: nowrap;
    // word-wrap: break-word;
    // display: block;
    // width:100%;
  }

  .morediv {
    margin: 16px 4px;
    width: 200px;
  }
  .moretitle {
    color: rgb(235, 232, 202);
    text-align: center;
    text-decoration: underline;
  }