.contentpanel {
  background-color: rgb(79, 101, 221);
  outline-width: 4px;
  outline-style: auto;
  outline-color: bisque;
}

.sectiontitle {
  font-size: 3.5em;
  font-family: 'Anton', sans-serif;
  color: rgb(233, 229, 16);
  text-align: center;
  margin-bottom: 0.5em;
}