:export { 
  nodecolor: rgb(233, 229, 16) ; 
  labelcolor: rgb(236, 194, 210);
}
.coveragepanel {
  background-color: rgba(27, 30, 56, 0.3);
  overflow-x: hidden;
}
.coveragetitle {
  color: rgba(243, 241, 225, 0.8)
}

.coveragesubtitle {
  color: rgba(243, 241, 225, 0.8);
}