@import url("https://fonts.googleapis.com/css?family=Anton");

.Math .panel {
  background-color: rgb(243, 222, 36);
  overflow-x: hidden;
}
.mathtitle {
  color: rgb(11, 16, 77);
}

.card .cardtitle {
  color: rgb(235, 232, 202);
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
}
.mathsubtitle {
  color: rgb(11, 16, 77);

}
.card {
  cursor: pointer;
  background-color: rgb(11, 16, 77);
}

