@import url("https://fonts.googleapis.com/css?family=Anton");

.Paintings .panel {
  background-color: rgb(45, 43, 54);
  overflow-x: hidden;
}
.Paintings .title {
  color: rgb(45, 43, 54);
}

.subtitle {
  color: rgb(235, 232, 202);
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
}
.card {
  background-color: rgb(11, 16, 77);
}
.moretitle {
  color: rgb(212, 211, 206);
  text-align: center;
  text-decoration: underline;
  white-space: normal; 
  // margin-top: 1em;
}