@import url('https://fonts.googleapis.com/css?family=Anton');

.PortraitGrid {
    text-align: center;
    min-height: 200px;
    font-family: 'Anton', sans-serif;
}
.PortraitGrid h1 {
    color: rgb(26, 16, 163);
    font-size: 3em;
    margin-top: 0em;
    margin-bottom: 0em;
}


.PortraitImage {
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    min-height: 200px;
    height: 40vh;
    background-color: rgb(36, 36, 36);
  }