.PortraitSec .title {
  color: rgb(26, 16, 163);
  margin-top: 0em;
  margin-bottom: 0em;
}

.PortraitImage {
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  
  min-height: 200px;
  height: 30vh;
  min-width: 200px;
  width: 30vh;

  background-color: rgb(36, 36, 36);
}

.Sun {
    position: absolute;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    top: 20%;
    height: 60%;
    padding-left: 100%;
    margin: 0 auto;
    // width: 100%;
    background-color: rgb(228, 223, 177);
    opacity: 0.5;
}

.PortraitSec .centerer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.PortraitSec .circle {
  background-color: rgb(218, 199, 30);
  border-radius: 50%;
}
//rgb(223, 29, 62)
//rgb(235, 228, 193)