@import "@material/react-card/index.scss";
.Sec1 {
  text-align: center;
//   default-margin: 16px;
}
#title {
  color: deeppink;
}
.MyCard {
  text-align: center;
  @include mdc-card-fill-color(mediumspringgreen);
}
.MyCard p {
  color: rgb(69, 88, 15);
}
.MyCardMedia {
//   @include mdc-card-media-aspect-ratio(16, 5);
height: 80px;
}
.MyCardMedia .MediaDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: rgb(10, 72, 114);
}
