@import "@material/react-card/index.scss";
.Sec1 {
  text-align: center;
  //   default-margin: 16px;
}
#title {
  color: rgb(36, 34, 54);
}
.MyCard {
  text-align: center;
}
.green {
    @include mdc-card-fill-color(mediumspringgreen);
}
.blue {
    @include mdc-card-fill-color(rgb(19, 226, 233));
}
.pink {
    @include mdc-card-fill-color(deeppink);
}
.MyCard p {
  color: rgb(81, 80, 99);
}
.MyCardMedia {
  //   @include mdc-card-media-aspect-ratio(16, 5);
  height: 80px;
}
.MyCardMedia .MediaDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: rgb(0, 0, 0);
  background-color: rgb(190, 190, 190);
  opacity: 0.7;
}
