@import url("https://fonts.googleapis.com/css?family=Anton");
@import "@material/react-card/index.scss";

.writecard {
  @include mdc-card-shape-radius(8px, false);
}
.Writes .title {
  font-family: "Anton", sans-serif;
  color: rgb(233, 229, 16);
  font-size: 3em;
  margin-top: 0em;
  margin-bottom: 0em;
  text-align: center;
}

.writecard .writetitle {
  text-overflow: ellipsis;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 4px;
  font-weight: bold;
  color: rgb(54, 54, 54);
  // white-space: nowrap;
  // word-wrap: break-word;
  // display: block;
  // width:100%;
}
.writecard .writedate {
  text-overflow: ellipsis;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 4px;
  font-size: 0.8em;
  color: rgb(54, 54, 54);
  // white-space: nowrap;
  // word-wrap: break-word;
  // display: block;
  // width:100%;
}