@import url("https://fonts.googleapis.com/css?family=Anton");

@import '@material/react-icon-button/index.scss';
@import '@material/react-material-icon/index.scss';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
//       rel="stylesheet">
.Writes .title {
  font-family: "Anton", sans-serif;
  color: rgb(233, 229, 16);
  font-size: 3em;
  margin-top: 0em;
  margin-bottom: 0em;
  text-align: center;
}
.horizdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 8px;
  overflow-x: scroll;
}
.writecard {
  margin-left: 8px;
}

.writecard .writetitle {
  text-overflow: ellipsis;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 4px;
  font-weight: bold;
  color: rgb(54, 54, 54);
  // white-space: nowrap;
  word-wrap: break-word;
  display: block;
  width:200px;
}
.writecard .writedate {
  text-overflow: ellipsis;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 4px;
  font-size: 0.8em;
  color: rgb(54, 54, 54);
  // white-space: nowrap;
  // word-wrap: break-word;
  // display: block;
  // width:100%;
}
.morediv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.moretitle {
  width:200px;
  color: rgb(235, 232, 202);
  text-align: center;
}
.morebutton {
  @include mdc-icon-button-ink-color(rgb(235, 232, 202));
  @include mdc-icon-button-size(80px);
  // font-size: 100px;
  text-align: center;
}
.moreicon {
  font-size: 80px;
}