@import "@material/button/mdc-button";
@import '@material/react-material-icon/index.scss';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
//       rel="stylesheet">

.horizdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 8px;
  overflow-x: scroll;
}
.writecard {
  width: 200px;
  margin-left: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.writecard .writetitle {
  // text-overflow: ellipsis;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 4px;
  font-weight: bold;
  color: rgb(54, 54, 54);
  overflow: hidden;
  white-space: normal; 
  // height: 50px;
  // white-space: nowrap;
  // word-wrap: break-word;
  // display: block;
}
.writecard .writedate {
  text-overflow: ellipsis;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 4px;
  font-size: 0.8em;
  color: rgb(54, 54, 54);
  // white-space: nowrap;
  // word-wrap: break-word;
  // display: block;
  // width:100%;
}
.morediv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.moretitle {
  width:200px;
  color: rgb(235, 232, 202);
  margin: 0px;
  text-align: center;
}
.morebutton {
  // @include mdc-button-ink-color();
  @include mdc-button-container-fill-color(rgb(185, 67, 83))
}
.moreicon {
  font-size: 80px;
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
 
.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}